*.html linguist-detectable=false
*.css linguist-detectable=false
*.py linguist-detectable=true

# Explicitly set the language for file extensions
*.html linguist-language=HTML
*.css linguist-language=CSS
*.py linguist-language=Python
