<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Trainer</title>
    <link href="static/static/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="static/lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <!-- Libraries  -->

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 display-4 text-primary text-uppercase">UntelsGym</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0 px-lg-5">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary text-uppercase">UntelsGym</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <!-- <a href="/" class="nav-item nav-link active">Inicio</a> -->
                        <!-- <a href="/plans" class="nav-item nav-link">Tipos de Rutina</a> -->
                        <!-- <a href="/posts" class="nav-item nav-link">Publicaciones</a> -->
                        <!-- <a href="/about" class="nav-item nav-link">Acerca de</a>
                        <a href="/contact" class="nav-item nav-link">Contacto</a> -->
                    </div>
                    <!-- <a href="" class="btn btn-primary py-md-3 px-md-5 d-none d-lg-block" style="margin-left:280px;">Join Us</a> -->
                    <a href="/login" role="button" class="btn btn-primary py-md-3 px-md-5 d-none d-lg-block">Log Out</a>
                </div>
            </nav>
        </div>
    </div>
</div>

<h2 style="text-align: center; margin-top: 50px; margin-bottom : 50px;">Añadir Entrenador</h2>
<form style="border-left: 100px solid #FFFFFF; border-right: 100px solid #FFFFFF; margin-top: 2px;" action="/add_trainer" method="post">
    <div class="row mb-4">
        <div class="col-sm-12 col-md">
            <div data-mdb-input-init class="form-outline">
                <input type="text" id="name" class="form-control" name="name"/>
                <label class="form-label" for="name">Nombre</label>
            </div>
        </div>
        <div class="form-outline mb-4" style="margin-top : 30px;">
            <div class="form-outline mb-4 " >
                <select class="form-select" id="specialization" name="specialization">
                    <option value="" disabled selected>Elegir especialización</option>
                    <option value="Basic Gym">Gym</option>
                    <option value="Cardio">Cardio</option>
                    <!-- <option value="zumba">Zumba</option> -->
                    <option value="Gym and Cardio">Gimnasio y Cardio</option>
                    <!-- <option value="gym_and_zumba">Gimnasio y Zumba</option>
                    <option value="gym_and_yoga">Gimnasio y Yoga</option>
                    <option value="gym_cardio_yoga">Gimnasio, Cardio, y Yoga</option>
                    <option value="gym_cardio_zumba">Gimnasio, Cardio, y Zumba</option>
                    <option value="full_access">Completo</option> -->
                </select>

            </div>
        </div>
        <!-- Number input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="number" id="phone_number" class="form-control" name="phone_number"/>
            <label class="form-label" for="phone_number">Teléfono</label>
        </div>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="email" class="form-control" name="email"/>
            <label class="form-label" for="email">Email</label>
        </div>
         <!-- Username -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input  id="username" class="form-control" name="username"/>
            <label class="form-label" for="username">nombre de Usuario</label>
        </div>
        <!-- Password -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="password" class="form-control" name="password"/>
            <label class="form-label" for="password">Contraseña</label>
        </div>
        <!-- Submit button -->
        <div class="row mb-4" style="margin-top: 30px; margin-bottom: 100px;">
            <div class="col-sm-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Registrar</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>